services:
  db:
    image: postgres:15-alpine
    container_name: chimera_postgres
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
  
  redis:
    image: redis:7-alpine
    container_name: chimera_redis
    env_file:
      - ../.env
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

  migrate:
    image: migrate/migrate
    volumes:
      - ../migrations:/migrations
    env_file:
      - ../.env
    depends_on:
      db:
        condition: service_healthy
    command:
      - -path=/migrations/
      - -database=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable
      - up

  api:
    build: 
      context: ..
      dockerfile: deployments/Dockerfile
    container_name: chimera_api
    command: ./scripts/entrypoint.sh
    ports:
      - "80:8000"
    env_file:
      - ../.env
    environment:
      - SEED_DB=${SEED_DB}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: "8g"
    restart: on-failure

volumes:
  postgres_data:
  migrations: